DID_YOU_KNOW=none

# ================= 架构模式 =================
APP_MODE=standalone

# 如需强制指定统一地址，可直接设置以下两个变量
# OPENAPI_ADDRESS=http://127.0.0.1:30330
# REQUEST_ADDRESS=http://127.0.0.1:30330

# ================= Standalone =================
STANDALONE_OPENAPI_ADDRESS=http://127.0.0.1:30330
STANDALONE_REQUEST_ADDRESS=http://127.0.0.1:30330

# ================= Microservice =================
MICRO_OPENAPI_ADDRESS=http://127.0.0.1:32330
MICRO_REQUEST_ADDRESS=http://127.0.0.1:32333
